In [4]:
import numpy as np
import pandas as pd

In [5]:
df = pd.read_csv(r'C:\Users\12566\mygit\teacher\05Numpyå’ŒPandas\telecom_churn.csv')

In [6]:
df.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

In [7]:
df['Area code'].iloc[0:5]

0    415
1    415
2    415
3    408
4    415
Name: Area code, dtype: int64

In [8]:
df[df['Churn'] == 1].sort_values(by = 'Total intl minutes',ascending = False)

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
115,ME,36,510,Yes,Yes,42,196.8,89,33.46,254.9,122,21.67,138.3,126,6.22,20.0,6,5.40,0,True
2816,ID,130,415,No,No,0,263.7,113,44.83,186.5,103,15.85,195.3,99,8.79,18.3,6,4.94,1,True
1420,MI,81,415,Yes,No,0,149.4,68,25.40,171.9,98,14.61,214.5,97,9.65,17.9,3,4.83,3,True
214,FL,70,510,Yes,No,0,226.7,98,38.54,228.1,115,19.39,73.2,93,3.29,17.6,4,4.75,2,True
502,MI,93,415,Yes,No,0,216.9,61,36.87,207.4,120,17.63,221.7,110,9.98,17.5,5,4.73,1,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1376,OH,65,415,No,No,0,245.7,139,41.77,241.9,113,20.56,285.3,117,12.84,4.2,5,1.13,4,True
1373,SC,108,415,No,No,0,112.0,105,19.04,193.7,110,16.46,208.9,93,9.40,4.1,4,1.11,4,True
626,NJ,95,408,Yes,Yes,37,220.2,109,37.43,185.3,99,15.75,205.1,82,9.23,4.1,2,1.11,0,True
3247,OK,146,510,No,No,0,138.4,104,23.53,158.9,122,13.51,47.4,73,2.13,3.9,9,1.05,4,True
397,OR,94,415,No,No,0,234.4,103,39.85,279.3,109,23.74,234.2,121,10.54,2.0,2,0.54,1,True

In [9]:
df['Churn'] = df['Churn'].astype('int64')

In [10]:
df.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,0
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,0
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,0
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,0
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,0

In [11]:
df.apply(np.max)

State                        WY
Account length              243
Area code                   510
International plan          Yes
Voice mail plan             Yes
Number vmail messages        51
Total day minutes         350.8
Total day calls             165
Total day charge          59.64
Total eve minutes         363.7
Total eve calls             170
Total eve charge          30.91
Total night minutes         395
Total night calls           175
Total night charge        17.77
Total intl minutes           20
Total intl calls             20
Total intl charge           5.4
Customer service calls        9
Churn                         1
dtype: object

In [12]:
df[df['State'].apply(lambda state: state[0] == 'W')].head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
9,WV,141,415,Yes,Yes,37,258.6,84,43.96,222.0,111,18.87,326.4,97,14.69,11.2,5,3.02,0,0
26,WY,57,408,No,Yes,39,213.0,115,36.21,191.1,112,16.24,182.7,115,8.22,9.5,3,2.57,0,0
44,WI,64,510,No,No,0,154.0,67,26.18,225.8,118,19.19,265.3,86,11.94,3.5,3,0.95,1,0
49,WY,97,415,No,Yes,24,133.2,135,22.64,217.2,58,18.46,70.6,79,3.18,11.0,3,2.97,1,0
54,WY,87,415,No,No,0,151.0,83,25.67,219.7,116,18.67,203.9,127,9.18,9.7,3,2.62,5,1

In [13]:
d = {'No': False,'Yes': True}
df['International plan'] = df['International plan'].map(d)
df.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,False,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,0
1,OH,107,415,False,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,0
2,NJ,137,415,False,No,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,0
3,OH,84,408,True,No,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,0
4,OK,75,415,True,No,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,0

In [14]:
df.replace({'Voice mail plan': d}).head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,False,True,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,0
1,OH,107,415,False,True,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,0
2,NJ,137,415,False,False,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,0
3,OH,84,408,True,False,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,0
4,OK,75,415,True,False,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,0

In [15]:
df.groupby('Churn')['Total day minutes','Total eve minutes','Total night minutes'].describe(percentiles = [])

      Total day minutes                                            \
                  count        mean        std  min    50%    max
Churn
0                2850.0  175.175754  50.181655  0.0  177.2  315.6
1                 483.0  206.914079  68.997792  0.0  217.6  350.8

      Total eve minutes                                             \
                  count        mean        std   min    50%    max
Churn
0                2850.0  199.043298  50.292175   0.0  199.6  361.8
1                 483.0  212.410145  51.728910  70.9  211.3  363.7

      Total night minutes
                    count        mean        std   min     50%    max
Churn
0                  2850.0  200.133193  51.105032  23.2  200.25  395.0
1                   483.0  205.231677  47.132825  47.4  204.80  354.9

In [16]:
df.groupby('Churn')['Total day minutes','Total eve minutes','Total night minutes'].agg([np.max, np.mean, np.min])

      Total day minutes                  Total eve minutes                    \
                   amax        mean amin              amax        mean  amin
Churn
0                 315.6  175.175754  0.0             361.8  199.043298   0.0
1                 350.8  206.914079  0.0             363.7  212.410145  70.9

      Total night minutes
                     amax        mean  amin
Churn
0                   395.0  200.133193  23.2
1                   354.9  205.231677  47.4

In [19]:
df.pivot_table(['Total day calls', 'Total eve calls', 'Total night calls'], ['Area code'], aggfunc='mean')

           Total day calls  Total eve calls  Total night calls
Area code
408             100.496420        99.788783          99.039379
415             100.576435       100.503927         100.398187
510             100.097619        99.671429         100.601190

In [20]:
pd.crosstab(df['Churn'], df['International plan'])

International plan  False  True
Churn
0                    2664    186
1                     346    137

In [22]:
pd.crosstab(df['Churn'], df['Voice mail plan'],normalize = True)

Voice mail plan        No       Yes
Churn
0                0.602460  0.252625
1                0.120912  0.024002

In [24]:
total_calls = df['Total day calls'] + df['Total eve calls'] + df['Total night calls'] +df['Total intl calls']

In [26]:
print(total_calls)

0       300
1       329
2       328
3       248
4       356
       ...
3328    286
3329    235
3330    258
3331    326
3332    272
Length: 3333, dtype: int64

In [27]:
df.insert(loc=len(df.columns),column = 'Total calls',value = total_calls)

In [28]:
df.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,...,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn,Total calls
0,KS,128,415,False,Yes,25,265.1,110,45.07,197.4,...,16.78,244.7,91,11.01,10.0,3,2.70,1,0,300
1,OH,107,415,False,Yes,26,161.6,123,27.47,195.5,...,16.62,254.4,103,11.45,13.7,3,3.70,1,0,329
2,NJ,137,415,False,No,0,243.4,114,41.38,121.2,...,10.30,162.6,104,7.32,12.2,5,3.29,0,0,328
3,OH,84,408,True,No,0,299.4,71,50.90,61.9,...,5.26,196.9,89,8.86,6.6,7,1.78,2,0,248
4,OK,75,415,True,No,0,166.7,113,28.34,148.3,...,12.61,186.9,121,8.41,10.1,3,2.73,3,0,356